* {
    font-family: Arial;
    color: white;
    text-decoration: none;
    
}
html {
    background-color: #060305;
}
a:hover {
    text-decoration: underline #ff5d00 2px;
  }
.headline {
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: center;
}
.headline a {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.headline img {
    width: 40px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-size: 4rem;
    background-image: url(./img/bc1.png);
    background-position: 50%;
    background-size: cover;
}
.main h4{
    font-size: 1.5rem;
}
.desk {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 35rem;
    padding-right: 35rem;
    margin-top: 15rem;
}
.blackandwhite {
    background-image: url(./img/bc2.png);
    background-position: 50%;
    background-size: cover;
    height: 918px;
}
.footer-links {
    margin-left: 2rem;
}
.footer-links p {
    margin-top: .5rem;
}
.desc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #008bf3;
    background-position: 10%;
    background-size: 220vh;
    text-align: center;
    padding-left: 25rem;
    padding-right: 25rem;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
    padding-top: 15rem;
    padding-left: 30rem;
    padding-right: 30rem;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(https://assets-global.website-files.com/6257adef93867e50d84d30e2/62594f6abf11bb058da52ecb_bg.png);
    background-size: 10%;
    width: 250px;
    height: 250px;
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 0.6em;
    margin: 1rem;
    border: #0006 1px solid;
}
.card img {
    width: 170px;
    height: 170px;
}
#duo {
    background-image: url(https://assets-global.website-files.com/6257adef93867e50d84d30e2/625950f8da1880cda1a94346_bg-w.png);
}
#duo a {
    color: black;
}
